﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Home Page
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Добро пожаловать!</h2>
    <p>
        

    </p>
    <h2>Доступные действия:</h2>
        <ul> 
        	<li><%: Html.ActionLink("Страница ученика/родителя", "Index", "Student")%>"></li>
        	<li><%: Html.ActionLink("Страница Учителя/Завуча", "Index", "Teacher")%>"></li>
        </ul>
</asp:Content>
